/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    position: relative;
    height: 100%;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}


ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table#sig {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Customized CSS*/
b {
    font-weight: bold;
}

em {
    font-style: italic !important;
}

.buffer {
    margin-bottom: 5px;
}

#sig2 {
    border-top-left-radius: 10;
}
/*#sig table{ border-left:3px solid #AFDA0F;}*/

#sig {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

.contact {
    font-size: .95em;
    margin-left: 2px;
}

.name {
    font-size: 1.2em;
    font-family: Verdana, sans-serif;
    font-weight: 300;
}

.title {
    font-size: .95em;
    font-family: Verdana, sans-serif;
}

#main2 {
    padding: 15px 0 0 0px;
}

h3 {
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
    font-size: 1.2em !important;
}

table a {
    text-decoration: underline;
}

.directionsContainer {
    float: right;
    width: 250px;
    background-color: white;
    border: 2px outset #ABD205;
    border-radius: 10px;
}

.directions {
    padding: 5px;
}

    .directions h3 {
        text-align: center;
        margin-bottom: 10px;
    }

li.directions {
    padding: 5px 0;
    font-size:13px;
}

.labels {
    margin-left: 2px;
}

table#gvAbandonedCarts > tbody > tr > td,
table#gvSelectedCart > tbody > tr > td {
    padding: 5px;
    border: solid 1px black;

}

table#gvAbandonedCarts > tbody, table#gvSelectedCart > tbody {
    border: 1px solid black;
}

    table#gvAbandonedCarts > tbody > tr > td a, table#gvSelectedCart > tbody > tr > td a {
        padding: 0 5px;
        text-decoration: none;
    }

div.contentBlock {
    width: 710px;
}

.restored {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(9,9,9,.8);
    width: 100%;
    height: 100%;

    z-index: 9999;
}

.restoredMessage {
    min-height:150px;
    text-align:center;
    color: black;
    z-index: 10000;
    background-color: #fefefa;
    opacity: 1;
    width:40%;
    float:right;
    margin-right:30%;
    margin-top:12%;
    border-radius:10px;
    border:3px #ABD305 solid;
}

.success {
font-size:24px;
color:#74309D;
display:block;
background-color:#abd305;
padding-bottom:5px;
}

.restoredLink {
    margin-top: 5%;
}
.hidden {
    display: none;
}
div.restoredLink>a.smileLink {
text-decoration:none;
color:#74309D;

}

.restoredButtons {
color:#ABD305;
border-radius:25px;
margin:20px;
background-color:#74309D;
font-weight:bold;
}

.cartInfo {
margin-left:200px;
}